.sidebar {
  height: 100vh;
  background-color: #FFF7F1;
  position: fixed;
  align-items: center;
  justify-content: flex-start;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  width: 18vw;  
}
.sidebar-logo {
  width: 6vw;      /* Adjust the size to fit your logo's shape */
  border-radius: 50%;
  height: auto;      /* Keeps the original proportions */
  margin-bottom: 20px;
  margin-top: 5px;
}

